/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 70px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#loader {
  display: none;
  img{
    width: 20%;
    height: auto;
  }
}
